@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Notable&family=Shadows+Into+Light&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


/* Target scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #F5F5F5; /* Light Grey background */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #27dfb3; /* Dark Grey thumb */
  border-radius: 6px; /* Rounded corners */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}


/* loader */
#loader{
  height: 100%;
  width: 100%;
  background-color: #0C0C0C;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all linear 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#loader h1{
  color: #27dfb3;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 6vh;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay:1s ;
  animation-timing-function: linear;
}

#loader h1:nth-child(2){
  animation-delay:2s ;
}
#loader h1:nth-child(3){
  animation-delay:3s ;
}

@keyframes load {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{

    opacity: 0;
  }
}

/* main */
#main{
  overflow: hidden;
}
 



/* x.......................   cursor...................x   */

#cursor {
  height: 40px;
  width: 40px;
  background-color: #27dfb3;
  border-radius: 50%;
  position: fixed;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 9;
}



/*x................ navbar ...................x*/

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.header{
  /* border-bottom: 1px solid #333; */
  background-color: #0C0C0C;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
}

.nav-link:hover{
  color: #27dfb3;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff;
}


@media only screen and (max-width: 600px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
      z-index: 999;
  }

  .nav-link{
    color:black;
    font-weight: 400;
  }
  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}

  







/* x....................... page1.................x          */



#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #0C0C0C;
}


/* icons */

#left-icon-js{
  padding: 10vh 20vw;
}

#left-icon-node{
  padding: 4vh 10vw;
}

#right-icon-react{
  padding: 0px 80vw;
}







/* heading */

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #fff;
  top: 0;
}

.animated-title .name{
  color: #27dfb3;
}

.animated-title > div.text-top div {
  animation: showTopText 8.5s;
  /* animation-delay: 1.5s; */
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
  /* animation-iteration-count: infinite; */
}
.animated-title > div.text-top div span:first-child {
  color: #fff;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 1.5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}







/*x................. gooey..............x */
#page1 #gooey {
  height: 10vw;
  width: 20vw;
  position: absolute;
  border-radius: 50%;
  background: #27dfb3;
  top: -2%;
  left: 25%;
  filter: blur(100px);
  animation-name: gooey;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}








/* page2 ............*.............................................* */

#page2{
  display: flex;
  align-items: start;
  font-family: a;
  justify-content: center;
  flex-direction: column;
  height: 150vh;
  width: 100vw;
  position: relative;
  padding: 0vw 8vw;
  color: #fff;
  background-color: #0C0C0C;
}

#page2>h2{
  margin-bottom: -150vh;
  color: white;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
#page2>h1{
  margin-top: 160vh;
  line-height: 1.3;
  width: 80%;
  font-size: 2vw;
  color: #dadada69;
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}




.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #27dfb3;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

#page2 a{
  margin-top: 3vw;
  text-decoration: none;
  list-style: none;
}


/*x..................... page3.................x */
#page3 {
  min-height: 200vh;
  width: 100%;
  padding: 4vw 0;
  position: relative;
  background-color: #0C0C0C;
}



#page3 h1 {
  font-size: 40vw;
  font-size: 600;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

/* x..................swiper...........x */

 #swiperDiv{
  margin-top: 3vh;
  height: 60vh;
  width: 100%;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 400px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 20%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
} 




/*x.............. cards...................x */
 .card {
  position: relative;
  width: 80%;
  height: 500px;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card svg {
  width: 0%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}


.card img{
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
} 


/*x ........................page4.................x */

#page4{
  height: 120vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  margin-top: 20vh;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  font-weight: 600;
  color: white;
  font-size: 40px;
  margin-bottom: 5px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.contact-left-title hr{
  border:none;
  height: 5px;
  background-color: #27dfb3;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{

  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #a9a9a9;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  /* transition: border-color .2s; */

}




.contact-inputs::placeholder{
  color: #a9a9a9;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: #27dfb3;
  cursor: pointer;
}

.contact-left button img{
  height: 15px;
}

.contact-right img{
  width: 500px;
  height: 500px;
}

.icon-container {
  display: inline-block;
  cursor: pointer;
}

.profile-input-container {
  display: none;
  margin-top: 10px;
}

.email-input-container {
  display: none;
  margin-top: 10px;
}

.message-input-container {
  display: none;
  margin-top: 10px;
}


/* x.................... string................x */


#string{
  background-color:#0C0C0C; 
}

#string svg{
  width: 100%;
  margin-left: 10%;
}


/* x......................footer....................x */

#footer{
  background: #0C0C0C;
  height: 80vh;
  width: 100%;
}

#footer h1{
  color: white;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding-top: 5px;
}

#icons{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  gap: 90px;
}

#icons a:hover{
  transform: scale(1.5);
}


#footer h4{
  color: white;
  padding-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



/* updated code */
nav h3{
  display: none;
}


#full-scr{
  height: 100vh;
  width: 100%;
  background-color: #000000;
  position: fixed;
  z-index: 999;
  top: -100%;
  transition:all ease 0.8s ;
} 




/* x......................................responsive design............................................x */






@media (max-width:600px){


  /* #about */
  .animated-title{
    height: 60vh;
    width: 68%;
  }

  #left-icon-node{
    margin-left: -5%;
  }



  /* About */

  #page2 h2{
    margin-top: 40%;
    font-size: 5vh;
    color: #27dfb3;
  }

  #page2 h1{
    /* margin-top: 65%; */
    font-size: 5vh;
    width: 100%;
  }

  #page2 i{
    padding-top: -5%;
  }

  /* #page3 */
  #page3 .mySwiper .card{
    height: 90vh;
    width: 100%;
  }


  /*contact*/
  #page4 .contact-right>img{
    height: 120vh;
    width: 60%;
    margin-left: 2vw;
  }

  /* #string */

  /* #string{
    height: 50px;
    width: 100%;
    background-color:#0C0C0C; 
  }
  
  #string svg{
    margin-top: -5px;
    margin-left: -12px;
    color: #27dfb3;
  } */


  #string{
    background-color:#0C0C0C; 
  }
  
  #string svg{
    width: 88%;
    margin-left: 5%;
  }
  
  

  /* icons */
  #icons img{
    height: 30px;
    width: 30px;
    /* border-radius: 50%; */
  }




  
}

@media (min-width:1000px) {

  #string{
    background-color:#0C0C0C; 
  }
  
  #string svg{
    width: 80%;
  }
}

@media (min-width:1001px) {

  #string{
    display: none;
  }
  
  
}